@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  scroll-behavior: smooth !important;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --box-shadow: 0px 5px 15px rgba(0,0,0,0.35);
  --box-shadow: 0px_5px_15px;
  --special-text-color: #af4261;
  --nav-bg-color: 255, 255, 255;
}

main.mainWrapper {
  background: url(../../public/bg-white-small.webp);
  background-position: left;
}

footer#pageFooter {
  background: url(../../public/light-mode-svg.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --box-shadow: rgba(255,255,255,0.089) 0px 0px 7px 5px;
    --special-text-color: #a1d06d;
    --nav-bg-color: 23, 20, 20;
  }

  main.mainWrapper {
    background: url(../../public/bg-black-small.webp);
    background-position: left;
  }

  footer#pageFooter {
    background: url(../../public/dark-mode-svg.svg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}



body.light {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --box-shadow: 0px 5px 15px rgba(0,0,0,0.35);
  --special-text-color: #af4261;
  --nav-bg-color: 255, 255, 255;
}

body.light main.mainWrapper {
  background: url(../../public/bg-white-small.webp);
  background-position: left;
}

body.light footer#pageFooter {
  background: url(../../public/light-mode-svg.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

body.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --box-shadow: rgba(255,255,255,0.089) 0px 0px 7px 5px;
  --special-text-color: #a1d06d;
  --nav-bg-color: 23, 20, 20;
}

body.dark main.mainWrapper {
  background: url(../../public/bg-black-small.webp);
  background-position: left;
}

body.dark footer#pageFooter {
  background: url(../../public/dark-mode-svg.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#logo {
  background-color: #70dbb8;
  background-image: linear-gradient(45deg, #70dbb8, #a1d06d, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#smallScreenMenu{
  background-color: #70dbb8;
  background-image: linear-gradient(45deg, #a1d06d, #af4261);
}

#imageBg, #popUpEmailAndPhoneNumber, .addShadowBg, .projectCarousel {
  box-shadow: var(--box-shadow);
}

/*Makes the text appear like its lying down*/
.lying-text {
  transform: rotateX(-60deg); 
}


/*OVERRIDE THE DEFAULT CSS OF THE CAROUSEL, FOR THE NEXT AND PREVIOUS ARROWS*/

/* INCREASE THE "next arrow's" SIZE */
button.control-arrow.control-next::before {
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid transparent !important;
  border-left: 20px solid #fff !important;
  margin-left: 20px !important;

}

/* INCREASE THE "previous arrow's" SIZE */
button.control-arrow.control-prev::before {
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid transparent !important;
  border-right: 20px solid #fff !important;
  margin-right: 20px !important;
}


/* Make the carousel's status bigger. (i.e. the status that says "1 of 3") */
#projects .carousel-status, #certifications .carousel-status, #awards .carousel-status {
  font-size: 15px !important;
  font-weight: bolder !important;
  top: -10px !important;
}


/* Make the carousel slide a bit to show the next item */
/* This is a custom class I created. It does not come with 'react-responsive-carousel' library*/
.slide-right {
  transform: translate3d(-49.5%, 0px, 0px) !important;
}

#certifications .slide:hover, #certifications .slide:focus,
#awards .slide:hover img, #awards .slide:focus img {
  scale: 1.1;
}

/*OVERRIDING THE DEFAULT CSS OF THE CAROUSEL STOPS HERE */